.TranslateOutput {
    width: 80%;
    height: 40%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.OutputTitle {
    font-size: 4vh;
}

.OutputTranslation {
    font-size: 2vh;
}

.OutputContainer {
    height: 80%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.OutputSignContainer {
    height: auto;
    width: 10%;
    margin: 1%;
}

.OutputSign {
    width: 100%;
    margin: auto;
}