.Form {
        width: 80%;
        height: 10vh;
        margin: auto;
        margin-top: 25vh;
        display:flex;
        flex-direction:row;
}

.Input {
    flex-grow: 2;
    height: 100%; 
    border-radius: 30px;
    font-size: 4vw;
    outline: none;
    padding-left: 2%;
}

.SubmitButton {
    margin-left: -20%;
    width: 20%;
    height: 100%;
    border-radius: 30px;
    outline: none;
    font-size: 3vw;
    cursor: pointer;
}
