.HeaderBrand {
  width: 40%;
  display: flex;
  flex-direction: row;
}

.HeaderLogo {
  height: 100%;
}

.HeaderLogoMankey {
  height: 100%;
}

.HeaderProfile {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: space-around;
  border: black 1px solid;
  border-radius: 20px;
}

.HeaderIcon {
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.HeaderUsername {
  color: black;
  font-size: 2rem;
}
/* @media (prefers-reduced-motion: no-preference) {
    .HeaderLogo {
      animation: Header-logo-spin infinite 20s linear;
    }
  } */

.Header {
  background-color: #bcfbff;
  top: 0;
  padding: 1% 5%;
  height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 5px solid rgba(156, 155, 155, 0.57);
  border-radius: 7px;
}

.HeaderLink {
  color: #61dafb;
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
