.UpperDiv {
    height: 30%;
    display: flex;
    justify-content: space-around;
}
.Logo {
    width: 20vw;
    height: 20vw;
}

.Translations {
    width: 80%;
    height: 40%;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.TranslationsTitle {
    font-size: 4em;
}

.ProfileButton {
    height: 20%;
    border-radius: 30px;
    outline: none;
    font-size: 2vw;
    cursor: pointer;
    margin: 1%;
}

.ButtonContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}