.TranslateOutput {
    width: 80%;
    height: 40%;
    margin: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.OutputTitle {
    font-size: 4em;
    margin: 0;
    height: 1.5em;
}

.OutputList {
    margin: 0;
    height: 80%;
    list-style-type: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.OutputListItem {
    margin: 0;
    padding: 0;
}
